<div id="<%= dom_id perro %>">
  <p>
    <strong>Name:</strong>
    <%= perro.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= perro.breed %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= perro.owner %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= perro.age %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= perro.weight %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= perro.birth_date %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= perro.image %>
  </p>

</div>
